---
const platform = "github";
const username = "archimage-solutions";
const linkedIn = "linkedin";
const linkedin_user = "oliver-prescott";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Connect with me on <a href={`https://www.${linkedIn}.com/in/${linkedin_user}`}>linkedIn</a></p>
</footer>